In [ ]:
import numpy as np

In [ ]:
var = np.arange(20).reshape(5, 4)

In [ ]:
var

In [ ]:
var

In [ ]:
var.mean()

In [ ]:
var.mean(axis=0)

In [ ]:
var.mean(axis=1)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\Jonat\dat-07-26\ClassMaterial\Unit2\data\restaurant_data\master.csv")

`Option` + `Command` + `C`

In [4]:
df.median()

visitors             17.000000
holiday               0.000000
latitude             35.658068
longitude           139.670038
reserve_visitors     10.000000
dtype: float64

In [5]:
df.max()

id                        air_fff68b929994bfbd
visit_date                          2017-04-22
visitors                                   877
calendar_date                       2017-04-22
day_of_week                          Wednesday
holiday                                      1
genre                     Yakiniku/Korean food
area                Ōsaka-fu Ōsaka-shi Ōhiraki
latitude                               44.0206
longitude                              144.273
reserve_visitors                            96
dtype: object

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252108 entries, 0 to 252107
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                252108 non-null  object
 1   visit_date        252108 non-null  object
 2   visitors          252108 non-null  int64
 3   calendar_date     252108 non-null  object
 4   day_of_week       252108 non-null  object
 5   holiday           252108 non-null  int64
 6   genre             252108 non-null  object
 7   area              252108 non-null  object
 8   latitude          252108 non-null  float64
 9   longitude         252108 non-null  float64
 10  reserve_visitors  108394 non-null  float64
dtypes: float64(3), int64(2), object(6)
memory usage: 21.2+ MB

In [7]:
df.median()

visitors             17.000000
holiday               0.000000
latitude             35.658068
longitude           139.670038
reserve_visitors     10.000000
dtype: float64

In [10]:
df[['visitors', 'holiday']].mean()

visitors    20.973761
holiday      0.050673
dtype: float64

In [15]:
df.iloc[6]

id                          air_ba937bf13d40fb24
visit_date                            2016-01-20
visitors                                      31
calendar_date                         2016-01-20
day_of_week                            Wednesday
holiday                                        0
genre                                 Dining bar
area                Tōkyō-to Minato-ku Shibakōen
latitude                                 35.6581
longitude                                139.752
reserve_visitors                             NaN
Name: 6, dtype: object

In [14]:
df.iloc[:50, 2:7]

    visitors calendar_date day_of_week  holiday       genre
0         25    2016-01-13   Wednesday        0  Dining bar
1         32    2016-01-14    Thursday        0  Dining bar
2         29    2016-01-15      Friday        0  Dining bar
3         22    2016-01-16    Saturday        0  Dining bar
4          6    2016-01-18      Monday        0  Dining bar
5          9    2016-01-19     Tuesday        0  Dining bar
6         31    2016-01-20   Wednesday        0  Dining bar
7         21    2016-01-21    Thursday        0  Dining bar
8         18    2016-01-22      Friday        0  Dining bar
9         26    2016-01-23    Saturday        0  Dining bar
10        21    2016-01-25      Monday        0  Dining bar
11        11    2016-01-26     Tuesday        0  Dining bar
12        24    2016-01-27   Wednesday        0  Dining bar
13        21    2016-01-28    Thursday        0  Dining bar
14        26    2016-01-29      Friday        0  Dining bar
15         6    2016-01-30    Saturday        0  Dining bar
16        18    2016-02-03   Wednesday        0  Dining bar
17        12    2016-02-04    Thursday        0  Dining bar
18        45    2016-02-05      Friday        0  Dining bar
19        15    2016-02-06    Saturday        0  Dining bar
20        19    2016-02-08      Monday        0  Dining bar
21        15    2016-02-09     Tuesday        0  Dining bar
22        32    2016-02-10   Wednesday        0  Dining bar
23         3    2016-02-11    Thursday        1  Dining bar
24        26    2016-02-12      Friday        0  Dining bar
25         8    2016-02-13    Saturday        0  Dining bar
26        14    2016-02-15      Monday        0  Dining bar
27        15    2016-02-16     Tuesday        0  Dining bar
28        17    2016-02-17   Wednesday        0  Dining bar
29        22    2016-02-18    Thursday        0  Dining bar
30        43    2016-02-19      Friday        0  Dining bar
31        20    2016-02-20    Saturday        0  Dining bar
32         7    2016-02-22      Monday        0  Dining bar
33        16    2016-02-23     Tuesday        0  Dining bar
34        21    2016-02-24   Wednesday        0  Dining bar
35        21    2016-02-25    Thursday        0  Dining bar
36        32    2016-02-26      Friday        0  Dining bar
37        23    2016-02-27    Saturday        0  Dining bar
38        22    2016-02-29      Monday        0  Dining bar
39        19    2016-03-01     Tuesday        0  Dining bar
40        21    2016-03-02   Wednesday        0  Dining bar
41        20    2016-03-03    Thursday        0  Dining bar
42        37    2016-03-04      Friday        0  Dining bar
43        13    2016-03-05    Saturday        0  Dining bar
44        11    2016-03-07      Monday        0  Dining bar
45         8    2016-03-08     Tuesday        0  Dining bar
46        23    2016-03-09   Wednesday        0  Dining bar
47        31    2016-03-10    Thursday        0  Dining bar
48        37    2016-03-11      Friday        0  Dining bar
49        25    2016-03-12    Saturday        0  Dining bar

In [18]:
df['visitors'][:50].mean()

20.78

In [12]:
df[20:50]

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
20,air_ba937bf13d40fb24,2016-02-08,19,2016-02-08,Monday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
21,air_ba937bf13d40fb24,2016-02-09,15,2016-02-09,Tuesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,7.0
22,air_ba937bf13d40fb24,2016-02-10,32,2016-02-10,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
23,air_ba937bf13d40fb24,2016-02-11,3,2016-02-11,Thursday,1,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
24,air_ba937bf13d40fb24,2016-02-12,26,2016-02-12,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,18.0
25,air_ba937bf13d40fb24,2016-02-13,8,2016-02-13,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,2.0
26,air_ba937bf13d40fb24,2016-02-15,14,2016-02-15,Monday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
27,air_ba937bf13d40fb24,2016-02-16,15,2016-02-16,Tuesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
28,air_ba937bf13d40fb24,2016-02-17,17,2016-02-17,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
29,air_ba937bf13d40fb24,2016-02-18,22,2016-02-18,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
30,air_ba937bf13d40fb24,2016-02-19,43,2016-02-19,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
31,air_ba937bf13d40fb24,2016-02-20,20,2016-02-20,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
32,air_ba937bf13d40fb24,2016-02-22,7,2016-02-22,Monday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
33,air_ba937bf13d40fb24,2016-02-23,16,2016-02-23,Tuesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
34,air_ba937bf13d40fb24,2016-02-24,21,2016-02-24,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
35,air_ba937bf13d40fb24,2016-02-25,21,2016-02-25,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
36,air_ba937bf13d40fb24,2016-02-26,32,2016-02-26,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
37,air_ba937bf13d40fb24,2016-02-27,23,2016-02-27,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,2.0
38,air_ba937bf13d40fb24,2016-02-29,22,2016-02-29,Monday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
39,air_ba937bf13d40fb24,2016-03-01,19,2016-03-01,Tuesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
40,air_ba937bf13d40fb24,2016-03-02,21,2016-03-02,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
41,air_ba937bf13d40fb24,2016-03-03,20,2016-03-03,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
42,air_ba937bf13d40fb24,2016-03-04,37,2016-03-04,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
43,air_ba937bf13d40fb24,2016-03-05,13,2016-03-05,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,4.0
44,air_ba937bf13d40fb24,2016-03-07,11,2016-03-07,Monday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
45,air_ba937bf13d40fb24,2016-03-08,8,2016-03-08,Tuesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
46,air_ba937bf13d40fb24,2016-03-09,23,2016-03-09,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
47,air_ba937bf13d40fb24,2016-03-10,31,2016-03-10,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
48,air_ba937bf13d40fb24,2016-03-11,37,2016-03-11,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
49,air_ba937bf13d40fb24,2016-03-12,25,2016-03-12,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN

In [ ]:
df.median()

In [ ]:
df.sum()

In [ ]:
df.mean()

In [20]:
df['visitors'].mean()

20.973761245180636

In [22]:
df[['visitors', 'holiday']].median()

visitors    17.0
holiday      0.0
dtype: float64

In [25]:
df['visitors'][:5000].min()

1

In [26]:
df.mode()

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
0,air_5c817ef28f236bdf,2017-03-17,8,2017-03-17,Friday,0,Izakaya,Fukuoka-ken Fukuoka-shi Daimyō,33.589216,130.392813,2.0

In [31]:
the_list = [2, 4, 6, 8, 10, 12, 14]

In [32]:
the_list[4:]

[10, 12, 14]

In [33]:
the_list[-1]

14

In [34]:
the_list[-2]

12

In [35]:
the_list[-4:]

[8, 10, 12, 14]

In [30]:
df.iloc[:, 7:].mode()

                             area   latitude   longitude  reserve_visitors
0  Fukuoka-ken Fukuoka-shi Daimyō  33.589216  130.392813               2.0

In [29]:
df

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
0,air_ba937bf13d40fb24,2016-01-13,25,2016-01-13,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
1,air_ba937bf13d40fb24,2016-01-14,32,2016-01-14,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
2,air_ba937bf13d40fb24,2016-01-15,29,2016-01-15,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
3,air_ba937bf13d40fb24,2016-01-16,22,2016-01-16,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
4,air_ba937bf13d40fb24,2016-01-18,6,2016-01-18,Monday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
...,...,...,...,...,...,...,...,...,...,...,...
252103,air_a17f0778617c76e2,2017-04-21,49,2017-04-21,Friday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,6.0
252104,air_a17f0778617c76e2,2017-04-22,60,2017-04-22,Saturday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,37.0
252105,air_a17f0778617c76e2,2017-03-26,69,2017-03-26,Sunday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,35.0
252106,air_a17f0778617c76e2,2017-03-20,31,2017-03-20,Monday,1,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,3.0
252107,air_a17f0778617c76e2,2017-04-09,26,2017-04-09,Sunday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,32.0

In [36]:
df.iloc[:250, :3].mean()

visitors    24.912
dtype: float64

In [39]:
df[df['visitors'] > 30]

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
1,air_ba937bf13d40fb24,2016-01-14,32,2016-01-14,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
6,air_ba937bf13d40fb24,2016-01-20,31,2016-01-20,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
18,air_ba937bf13d40fb24,2016-02-05,45,2016-02-05,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
22,air_ba937bf13d40fb24,2016-02-10,32,2016-02-10,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
30,air_ba937bf13d40fb24,2016-02-19,43,2016-02-19,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
...,...,...,...,...,...,...,...,...,...,...,...
252097,air_a17f0778617c76e2,2017-04-15,61,2017-04-15,Saturday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,25.0
252103,air_a17f0778617c76e2,2017-04-21,49,2017-04-21,Friday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,6.0
252104,air_a17f0778617c76e2,2017-04-22,60,2017-04-22,Saturday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,37.0
252105,air_a17f0778617c76e2,2017-03-26,69,2017-03-26,Sunday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,35.0
252106,air_a17f0778617c76e2,2017-03-20,31,2017-03-20,Monday,1,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,3.0

In [41]:
df[df['day_of_week'] == 'Saturday']

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
3,air_ba937bf13d40fb24,2016-01-16,22,2016-01-16,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
9,air_ba937bf13d40fb24,2016-01-23,26,2016-01-23,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
15,air_ba937bf13d40fb24,2016-01-30,6,2016-01-30,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
19,air_ba937bf13d40fb24,2016-02-06,15,2016-02-06,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
25,air_ba937bf13d40fb24,2016-02-13,8,2016-02-13,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,2.0
...,...,...,...,...,...,...,...,...,...,...,...
252078,air_a17f0778617c76e2,2017-03-25,61,2017-03-25,Saturday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,7.0
252084,air_a17f0778617c76e2,2017-04-01,38,2017-04-01,Saturday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,47.0
252091,air_a17f0778617c76e2,2017-04-08,33,2017-04-08,Saturday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,33.0
252097,air_a17f0778617c76e2,2017-04-15,61,2017-04-15,Saturday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,25.0
252104,air_a17f0778617c76e2,2017-04-22,60,2017-04-22,Saturday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,37.0

In [53]:
df[df['visitors'].between(10, 20)]['visitors'].mode()

0    10
dtype: int64

In [49]:
df[df['visitors'].between(10, 20)]

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
8,air_ba937bf13d40fb24,2016-01-22,18,2016-01-22,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
11,air_ba937bf13d40fb24,2016-01-26,11,2016-01-26,Tuesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,2.0
16,air_ba937bf13d40fb24,2016-02-03,18,2016-02-03,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
17,air_ba937bf13d40fb24,2016-02-04,12,2016-02-04,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
19,air_ba937bf13d40fb24,2016-02-06,15,2016-02-06,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
...,...,...,...,...,...,...,...,...,...,...,...
252070,air_a17f0778617c76e2,2017-03-16,17,2017-03-16,Thursday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,NaN
252087,air_a17f0778617c76e2,2017-04-04,10,2017-04-04,Tuesday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,NaN
252094,air_a17f0778617c76e2,2017-04-12,10,2017-04-12,Wednesday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,2.0
252099,air_a17f0778617c76e2,2017-04-17,19,2017-04-17,Monday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,NaN
252100,air_a17f0778617c76e2,2017-04-18,11,2017-04-18,Tuesday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,NaN

In [50]:
df[['visitors']]

        visitors
0             25
1             32
2             29
3             22
4              6
...          ...
252103        49
252104        60
252105        69
252106        31
252107        26

[252108 rows x 1 columns]

In [54]:
df.head()

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
0,air_ba937bf13d40fb24,2016-01-13,25,2016-01-13,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
1,air_ba937bf13d40fb24,2016-01-14,32,2016-01-14,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
2,air_ba937bf13d40fb24,2016-01-15,29,2016-01-15,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
3,air_ba937bf13d40fb24,2016-01-16,22,2016-01-16,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
4,air_ba937bf13d40fb24,2016-01-18,6,2016-01-18,Monday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN

In [58]:
df[(df['genre'] == 'Dining bar') | (df['day_of_week'] == 'Friday')]

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
0,air_ba937bf13d40fb24,2016-01-13,25,2016-01-13,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
1,air_ba937bf13d40fb24,2016-01-14,32,2016-01-14,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
2,air_ba937bf13d40fb24,2016-01-15,29,2016-01-15,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
3,air_ba937bf13d40fb24,2016-01-16,22,2016-01-16,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
4,air_ba937bf13d40fb24,2016-01-18,6,2016-01-18,Monday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
...,...,...,...,...,...,...,...,...,...,...,...
252077,air_a17f0778617c76e2,2017-03-24,109,2017-03-24,Friday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,21.0
252083,air_a17f0778617c76e2,2017-03-31,51,2017-03-31,Friday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,2.0
252090,air_a17f0778617c76e2,2017-04-07,46,2017-04-07,Friday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,1.0
252096,air_a17f0778617c76e2,2017-04-14,88,2017-04-14,Friday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,4.0
252103,air_a17f0778617c76e2,2017-04-21,49,2017-04-21,Friday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,6.0